/* PHASE 5: Cats */
.content-header {
    height: 200px;
    width: inherit;
    background-image: url("../images/cats.jpg");
    position: relative;
    background-size: cover;
}

.content-header h1 {
    position: absolute;
    color: white;
    text-shadow: 1;
    bottom: 30px;
    left: 280px;
    font-size: 36px;
    font-family: Roboto;
    text-shadow: 2px 2px black;
}

.content-header button {
    position: absolute;
}