<header class="masthead">
    <nav class="language-nav">
        <ul>
            <li><a href="#" class="css">css</a></li>
            <li><a href="#">html</a></li>
            <li><a href="#">javascript</a></li>
            <li><a href="#">ruby</a></li>
        </ul>
    </nav>

   <img class="logo" src="assets/AA_Times_Logo.png" alt="App Academy Times">

    <nav class="masthead-links">
        <ul>
            <li class="date" id="no_bold">Tuesday, October 18, 2016</li>
            <li>
                <i class="far fa-newspaper"></i><a href="#" id="no_bold">Today's Paper</a>
            </li>
            <li>
                <i class="fas fa-video"></i><a href="#" id="no_bold">Video</a>
            </li>
            <li><button type="button">77°F</button></li>
            <li><button type="button" class="stock">AAO <div>+100%</div></button></li>
        </ul>
    </nav>
</header>