extends ../layout.pug
include ../utils.pug

block content 
  if errors 
    +errorsField(errors)
  form(action=`/park/edit/${park.id}`, method='POST')
    include park-form-fields.pug 
    button(type='submit') Edit Park
    a(href='/') Cancel